.menu-wrap {
  position: fixed;
  top: 0;
  left: 160px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 160px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 160px;
  z-index: 1;
  width: 20px;
  height: 20px;
  padding: 1rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.sun-ray {
	position: absolute;
	width: 700px;
	height: auto;
	top: 0;
	left: 0;
}

.bigger-op {
	position: relative;
	width: 700px;
	height: auto;
	opacity: 0.75;
	border-radius: 500%;
	top: auto;
	left: -180px;
}

.circular--portrait {
	position: absolute;
	width: 1px;
	height: auto;
	border-radius: 5%;
	border: 30px;
	top: auto;
	right: -65px;
}
/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

body {
  background: whitesmoke;
  width: 100vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  justify-content: flex-end;
}
.case-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #case1 {
  border: 3px solid #c2b8ad;
  width: 200px;
  height: 100px;
  display: flex;
  background: #c2b8ad;
  border-radius: 1px;
  box-shadow: 0 2px 4px #69d4f1;
}
#case2 {
  display: flex;
  border: 3px solid #c2b8ad;
  width: 375px;
  height: 100px;
  background: #c2b8ad;
  border-radius: 1px;
  box-shadow: 0 2px 4px #69d4f1;
}
#case3 {
  border: 3px solid #c2b8ad;
  width: 200px;
  height: 100px;
  display: flex;
  background: #c2b8ad;
  border-radius: 1px;
  box-shadow: 0 2px 4px #69d4f1;
} */

/* .case {
  max: width 100%;
  height: auto;
  /* border: 3px solid #c2b8ad;
  display: flex;
  background: #c2b8ad;
  border-radius: 1px;
  box-shadow: 0 2px 4px #69d4f1;
 } */
img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c1 {
  cursor: pointer;
}

<<<<<<< HEAD
=======
#alex-profile {
  object-fit: contain;
  margin-top: 275px;
  width: 100px;
  height: 150px;
  object-position: top left;
}
.img-responsive {
  margin: 0 auto;
  display: block;
  align-content: center;
}
.circular--portrait {
  position: relative;
  width: 285px;
  height: 285px;
  overflow: hidden;
  border-radius: 50%;
  border: double 30px rgb(214, 205, 79);
}
.circular--portrait img {
  width: 90%;
  align-content: center;
}

>>>>>>> 8edc464e0e0a9682926fcb7989f71cdeac875a6f
.case-container {
  text-align: center;
  vertical-align: center;
  flex-direction: column;
}

.about-me {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}
#about-title {
  display: flex;
  color: black;
  /* width: 181px;
    height: 27px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 21px;
  /* or 57% */
  text-align: center;
  letter-spacing: 0.221686px;
  justify-content: flex-end;
}

#about-p {
  color: black;
  /* width: 365px;
    height: 240px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  display: flex;
  align-items: center;
  text-align: center;
}

#about-rm-link {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  align-self: flex-end;
}
.contact {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  /* display: flex; */
  width: 100vw;
  /* align-items: center;
	justify-content: center;
	flex-direction: column; */
  padding: 32px;
}

.contact-title {
  font-size: 36px;
  line-height: 32px;
  align-items: center;
  text-align: center;
}

.contact-content {
  text-align: left;
  line-height: 5;
}

.contact-links {
  display: block;
}

.contact-envelope-img {
  width: 32px;
}

.contact-phone-img {
  width: 32px;
}

.contact-website-img {
  width: 64px;
}

.contact-download-img {
  width: 32px;
}
